langchain
langchain-community
langchain-core
gpt4all
chromadb
llama-cpp-python
urllib3
PyMuPDF
docx
odfpy
markdown
python-dotenv
unstructured
extract-msg
tabulate
pandoc
pypandoc
tqdm
sentence_transformers